<ion-header>
  <ion-navbar>
    <button button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title
      >Panelist Info<ion-col
        *ngIf="irfObj['stored']==true && !saving && !uploading"
        ><ion-icon name="cloud-done"></ion-icon
      ></ion-col>
      <p *ngIf="saving">Saving ....</p>
      <p *ngIf="uploading">Uploading ....</p></ion-title
    >
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formPanel">
    <ion-item *ngIf="false">
      <ion-label>
        <p>Id:</p>
      </ion-label>
      <ion-input formControlName="Id" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Period:</p>
      </ion-label>
      <ion-input
        formControlName="period_code"
        disabled="true"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>PanelCode:</p>
      </ion-label>
      <ion-input
        formControlName="panel_code"
        disabled="true"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Panelist Name:</p>
      </ion-label>
      <ion-input formControlName="panel_name" type="text"></ion-input>
    </ion-item>
    <!-- add field here -->
    <ion-grid>
      <ion-row>
        <ion-col col="4">
          <button ion-button full type="submit" (click)="save(formPanel.value)">
            SAVE
          </button>
        </ion-col>
        <ion-col col="4">
          <button ion-button full (click)="sendSMS()">SEND</button>
        </ion-col>
        <ion-col *ngIf="!!irfObj?.Id && connectedToNet" col="4">
          <button ion-button full (click)="sync()">SYNC</button>
        </ion-col>
        <ion-col col="4">
          <button ion-button full navPop>Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ng-container *ngFor="let row of images; let i = index">
    <ion-row>
      <ion-item>
        <ion-label>
          <p>Page Number: {{row.page_num}}</p>
          <ion-icon *ngIf="row['stored']==true" name="cloud-done"></ion-icon>
        </ion-label>
      </ion-item>
      <img src="{{row.imageDisplay}}" />
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button full (click)="removePicture(i,row)">
          Remove
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full (click)="uploadImage(i,row)">
          Upload
        </button>
      </ion-col>
    </ion-row>
  </ng-container>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>
            <p>Page Number: {{houseImageImagePath}}</p>
          </ion-label>
          <ion-input [(ngModel)]="page_number" type="text"></ion-input>
        </ion-item>
        <img [src]="houseImageImagePath" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <button
          [disabled]="page_number==''"
          ion-button
          full
          (click)="takePicture('House_Image')"
        >
          Add Picture
        </button>
      </ion-col>
      <ion-col col-5> </ion-col>
      <ion-col col-2>
        <ion-icon
          *ngIf="irfObj['House_Imagestored']==true"
          style="zoom:2.0;"
          name="cloud-done"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
