<ion-header>
  <ion-toolbar>
    <ion-title>Retrieval Form</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="formPanel" (ngSubmit)='search(formPanel.value)'>
        <ion-item>
            <ion-label>
              <p>Project Type:</p>
            </ion-label>
            <ion-select formControlName="proj_type" ok-text="Okay" cancel-text="Dismiss">
              <ion-select-option value="" selectable=false selected="true"> Select Type</ion-select-option>
              <ion-select-option *ngFor="let type of ['EOP','HHP','ES']" [value]="type">{{ type }}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Region:</p>
          </ion-label>
          <ion-input formControlName="region" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Year:</p>
          </ion-label>
          <ion-input formControlName="year" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Period:</p>
          </ion-label>
          <ion-select formControlName="period" ok-text="Okay" cancel-text="Dismiss">
            <ion-select-option value="" selectable=false selected="true"> Select Period</ion-select-option>
            <ion-select-option *ngFor="let period of ['01','02','03','04','05','06','07','08','09','10','11','12','13']" [value]="period">{{ period }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Week:</p>
          </ion-label>
          <ion-select formControlName="week" ok-text="Okay" cancel-text="Dismiss">
            <ion-select-option value="" selectable=false selected="true"> Select Week</ion-select-option>
            <ion-select-option *ngFor="let week of ['1','2','1 & 2','3','4','3 & 4']" [value]="week">{{ week }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>GL Name:</p>
          </ion-label>
          <ion-input formControlName="gl_name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>FI Name:</p>
          </ion-label>
          <ion-input formControlName="fi_name" type="text"></ion-input>
        </ion-item>
        <ion-grid>
            <ion-row>
              <ion-col size="8">
                  <ion-item>
                      <ion-label>
                        <p>Panel Code:</p>
                      </ion-label>
                      <ion-input formControlName="panel_code" type="text"></ion-input>
                    </ion-item>
              </ion-col>
              <ion-col size="4" >
                  <ion-button expand="full" fill="solid" (click)="scan()">SCAN</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        <ion-grid>
          <ion-row>
              <ion-col size="6">
                  <ion-button expand="full" fill="solid" (click)="clear()" >CLEAR</ion-button>
              </ion-col>
              <ion-col size="6">
                  <ion-button expand="full" fill="solid" type="submit">SEARCH</ion-button>
              </ion-col>
          </ion-row>
        </ion-grid>
    </form>
    <ion-list>
      <ng-container  *ngFor="let request of requests; let i = index">
        <!-- <ion-item (click)="editRequest(request.Id)"> -->
        <ion-item>
          <ion-col >{{i}}</ion-col>
          <ion-col>{{request.item_desc}}</ion-col>
          <ion-col>{{request.quantity}}</ion-col>
          <ion-col>{{request.item_code}}</ion-col>
          <ion-col>{{request.pointsrequired}}</ion-col>
          <!-- add field here -->
          </ion-item>
          <ion-col (click)="removeRequest(request.Id); $event.stopPropagation()">remove</ion-col>
      </ng-container>
      
    </ion-list>

  
</ion-content>
