<ion-header>
  <ion-navbar>
    <button button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home<ion-col *ngIf="irfObj['stored']==true && !saving && !uploading">
        <ion-icon name="cloud-done"></ion-icon>
      </ion-col>
      <p *ngIf="saving">Saving ....</p>
      <p *ngIf="uploading">Uploading ....</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="assets/imgs/uniserve_logo.png" id="imgPlacement" style="align-items: center" />
  <h2 style="text-align: center;">Retrieval Monitoring</h2>
  <h4>Activity:</h4>
  <button ion-button full (click)="moveRetrieval()">Diary Retrieval</button>
  <button ion-button full (click)="moveToPurchase()">Purchase Entry</button>
  <button ion-button full (click)="moveToMaintenace()">Maintenance</button>
  <button ion-button full (click)="moveToDataSync()">Data Sync</button>
  <br />
  <h4>Summary:</h4>
  <h5 style="text-align: center;">Retrieval</h5>
  <button ion-button full (click)="moveRetrievalPerPeriod()">Per Period</button>
  <button ion-button full (click)="moveRetrievalPerDate()">Per Date Range</button>
  <br />
  <h5 style="text-align: center;">Purchases</h5>
  <button ion-button full color="secondary" (click)="movePurchasePerPeriod()">Per Period</button>
  <button ion-button full color="secondary" (click)="movePurchasePerDate()">Per Date Range</button>
</ion-content>