<ion-header>
  <ion-navbar>
    <button button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>IRF <ion-col *ngIf="this.requestObj['stored']==true"><ion-icon name="cloud-done"></ion-icon></ion-col><p *ngIf="saving">Saving ....</p><p *ngIf="uploading">Uploading ....</p></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-content padding>

        <form [formGroup]="formPanel">
            <ion-grid>
            <ion-row>
              <ion-col col-7>
                <ion-item>
                  <ion-label>
                      <p>Loc Accu:</p>
                  </ion-label>
                  <ion-input disabled="true" formControlName="loc_accuracy" type="text"></ion-input>
                </ion-item>
                </ion-col>
              <ion-col col-5>
                  <button *ngIf="!isCaptureLoc" ion-button full (click)="captureLoc(true)" >Capture</button>
                  <button *ngIf="isCaptureLoc" ion-button full (click)="captureLoc(false)" >Stop</button>
              </ion-col>
            </ion-row>
    
            </ion-grid>
          <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <ion-item>
                        <ion-label>
                          <p>GPM ID:</p>
                        </ion-label>
                        <ion-input formControlName="panel_code" type="text"></ion-input>
                      </ion-item>
                </ion-col>
                </ion-row>
              </ion-grid>
            <ion-item>
                <ion-label>
                  <p>Panel Name:</p>
                </ion-label>
                <ion-input formControlName="panel_name" type="text"></ion-input>
            </ion-item>
          <ion-item>
            <ion-label>
              <p>Province:</p>
            </ion-label>
            <ion-input formControlName="province"  type="text"></ion-input>
          </ion-item>
          <ion-item *ngFor="let option of provincesOptions" (click)="selectProvince(option)">{{option}}</ion-item>
          <ion-item>
            <ion-label>
              <p>Municipality:</p>
            </ion-label>
            <ion-input formControlName="municipality"  type="text"></ion-input>
          </ion-item>
          <ion-item *ngFor="let option of cityOptions" (click)="selectCity(option)">{{option}}</ion-item>
          <ion-item>
            <ion-label>
              <p>Barangay:</p>
            </ion-label>
            <ion-input formControlName="barangay_name"  type="text"></ion-input>
          </ion-item>
          <ion-item *ngFor="let option of barangayOptions" (click)="selectBarangay(option)">{{option.name}}</ion-item>
          <ion-item>
            <ion-label>
              <p>Zip Code:</p>
            </ion-label>
            <ion-input formControlName="zip_code" type="text"></ion-input>
          </ion-item>
          <ion-item *ngFor="let option of zipcodesOptions" (click)="selectZip(option)">{{option.zip_code}} - {{option.city}}</ion-item>
          <ion-item>
              <ion-label>
                <p>Region:</p>
              </ion-label>
              <ion-input formControlName="region" type="text"></ion-input>
          </ion-item>
            <ion-item>
                <ion-label>
                  <p>Gate Num:</p>
                </ion-label>
                <ion-input formControlName="gate_num" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <p>House Num:</p>
                </ion-label>
                <ion-input formControlName="house_num" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <p>TH  Condo Name:</p>
                </ion-label>
                <ion-input formControlName="condo_name" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <p>Subdivision Name:</p>
                </ion-label>
                <ion-input formControlName="subdivision_name" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <p>Street Name:</p>
                </ion-label>
                <ion-input formControlName="street_name" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <p>Landmark:</p>
                </ion-label>
                <ion-input formControlName="landmark" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <p>Best Sched Day:</p>
                </ion-label>
                <ion-input formControlName="best_sched_day" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <p>Best Sched Time:</p>
                </ion-label>
                <ion-input formControlName="best_sched_time" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Pref Delivery:</p>
              </ion-label>
              <ion-select placeholder="Select One" formControlName="pref_delivery">
                <ion-option value="Home">Home</ion-option>
                <ion-option value="Others">Others</ion-option>
              </ion-select>
          </ion-item>
            <ion-item>
                <ion-label>
                  <p>Other Address:</p>
                </ion-label>
                <ion-input formControlName="other_address" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <p>Home Tel Num1</p>
                </ion-label>
                <ion-input formControlName="home_tel_num1" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <p>Home Tel Num2</p>
                </ion-label>
                <ion-input formControlName="home_tel_num2" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <p>Mobile Num 1</p>
                </ion-label>
                <ion-input formControlName="mobile_num_1" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="!!formPanel.get('mobile_num_1').errors && !!formPanel.get('mobile_num_1').errors.pattern && (formPanel.get('mobile_num_1').dirty || formPanel.get('mobile_num_1').touched)">
                <ion-label color="danger" >
                  Invalid Mobile Number
                </ion-label> 
              </ion-item>
            <ion-item>
                <ion-label>
                  <p>Mobile Num 2</p>
                </ion-label>
                <ion-input formControlName="mobile_num_2" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="!!formPanel.get('mobile_num_2').errors && !!formPanel.get('mobile_num_2').errors.pattern && (formPanel.get('mobile_num_2').dirty || formPanel.get('mobile_num_2').touched)">
                <ion-label color="danger" >
                  Invalid Mobile Number
                </ion-label> 
              </ion-item>
            <ion-item>
                <ion-label>
                  <p>Email Add</p>
                </ion-label>
                <ion-input formControlName="email_add" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="!!formPanel.get('email_add').errors && !!formPanel.get('email_add').errors.pattern && (formPanel.get('email_add').dirty || formPanel.get('email_add').touched)">
                <ion-label color="danger" >
                  Invalid Email Address
                </ion-label> 
              </ion-item>
              <ion-item>
                <ion-label>
                  <p>Item Code</p>
                </ion-label>
                <ion-input formControlName="item_code" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Item Desc</p>
              </ion-label>
              <ion-input formControlName="item_desc" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <p>Points Required</p>
            </ion-label>
            <ion-input formControlName="points_req" type="text"></ion-input>
        </ion-item>
          <ion-item>
            <ion-label>
              <p>Remarks</p>
            </ion-label>
            <ion-input formControlName="remarks" type="text"></ion-input>
          </ion-item>
        <!-- </ion-item>
            <ion-item>
                <ion-label>
                  <p>Proof of Billing</p>
                </ion-label>
                <ion-input formControlName="proof_of_billing" type="text"></ion-input>
            </ion-item> -->
            <!-- <ion-item>
                <ion-label>
                  <p>Valid Id</p>
                </ion-label>
                <ion-input formControlName="valid_id" type="text"></ion-input>
            </ion-item> -->
            <ion-grid>
                <ion-row>
                    <ion-col size="12">
                        <p>Proof of Billing</p>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-5>
                          <button ion-button full (click)="takePicture('POB')" >Add Picture</button>
                      </ion-col>
                      <ion-col col-5>
                          <button *ngIf="this.requestObj['stored']==true && !!proofOfBillingImagePathNative && connectedToNet" ion-button full (click)="upload('POB',proofOfBillingImagePathNative)" >Upload</button>
                      </ion-col>
                      <ion-col col-2>
                          <ion-icon style="zoom:2.0;" *ngIf="requestObj['POBstored']==true" name="cloud-done"></ion-icon>
                      </ion-col>
                </ion-row>
              </ion-grid>
              <ion-item *ngIf="proofOfBillingImagePath">
                  <img #img1='' [src]="proofOfBillingImagePath">
                </ion-item>
              <ion-grid>
                  <ion-row>
                      <ion-col size="12">
                          <p>Valid Id </p>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                      <ion-col col-5>
                          <button ion-button full  (click)="takePicture('ID')" >Add Picture</button>
                      </ion-col>
                      <ion-col col-5>
                          <button *ngIf="this.requestObj['stored']==true && !!validIdImagePathNative && connectedToNet" ion-button full (click)="upload('ID',validIdImagePathNative)" >Upload</button>
                      </ion-col>
                        <ion-col col-2>
                          <ion-icon style="zoom:2.0;" *ngIf="requestObj['IDstored']==true" name="cloud-done"></ion-icon>
                      </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-item *ngIf="validIdImagePath">
                    <img [src]="validIdImagePath">
                  </ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col col-12>
                            <p>Questionnaire </p>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col col-5>
                              <button ion-button full (click)="takePicture('QNR')" >Add Picture</button>
                          </ion-col>
                          <ion-col col-5>
                              <button *ngIf="this.requestObj['stored']==true && !!currentImagePathNative && connectedToNet" ion-button full (click)="upload('QNR',currentImagePathNative)" >Upload</button>
                          </ion-col>
                          <ion-col col-2>
                              <ion-icon style="zoom:2.0;" *ngIf="requestObj['QNRstored']==true" name="cloud-done"></ion-icon>
                          </ion-col>
                    </ion-row>
                  </ion-grid>
            <ion-item *ngIf="currentImagePath">
              <img  [src]="currentImagePath">
            </ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size="4">
                        <button ion-button full (click)="saveRequest(formPanel.value)" >Save</button>
                    </ion-col>
                  <ion-col size="4">
                      <button ion-button full (click)="sendSMS()" >SEND</button>
                  </ion-col>
                  <ion-col *ngIf="!!this.requestObj.Id && connectedToNet" size="4">
                      <button ion-button full (click)="sync()" >SYNC</button>
                  </ion-col>
                  <ion-col size="4">
                    <button ion-button full navPop >Cancel</button>
                </ion-col>
                </ion-row>
              </ion-grid>
            </form>
    
      
    </ion-content>
    
</ion-content>