<ion-header>
  <ion-toolbar>
    <ion-title>Panel Visit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="formPanel" (ngSubmit)='save(formPanel.value)'>
        <ion-item *ngIf="false">
            <ion-label>
              <p>Id:</p>
            </ion-label>
            <ion-input formControlName="Id" type="text"></ion-input>
          </ion-item>  
      <ion-item>
            <ion-label>
              <p>Panel Code:</p>
            </ion-label>
            <ion-input formControlName="panel_code" type="text"></ion-input>
          </ion-item>
        <ion-button expand="full" fill="solid" (click)="scan()">SCAN</ion-button>
        <ion-item>
            <ion-label>
              <p>Panel Name:</p>
            </ion-label>
            <ion-input formControlName="panel_name" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
              <p>FIName:</p>
            </ion-label>
            <ion-input formControlName="finame" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
              <p>Region:</p>
            </ion-label>
            <ion-input formControlName="region" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Week Code:</p>
          </ion-label>
          <ion-input formControlName="panel_week_code" type="text"></ion-input>
        </ion-item>
         <!-- add field here -->
        <ion-item *ngIf="false">
            <ion-label>
              <p>GPS LOCATION:</p>
            </ion-label>
            <ion-input formControlName="panel_gps_location" type="text"></ion-input>
          </ion-item>
        <ion-item>
          <ion-label>
            <p>ACCURACY:</p>
          </ion-label>
          <ion-input disabled="true" formControlName="panel_gps_location_accuracy" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>STATUS</ion-label>
            <ion-select formControlName="panel_status" ok-text="Okay" cancel-text="Dismiss">
              <ion-select-option value="" selectable=false> Select Status</ion-select-option>
              <ion-select-option *ngFor="let status of statuses" [value]="status.value">{{status.value | uppercase}}</ion-select-option>
            </ion-select>
          </ion-item>
        <ion-item *ngIf="showZeroRemarks">
            <ion-label>
              <p> ZERO REMARKS:</p>
            </ion-label>
            <ion-input formControlName="panel_remarks" type="text"></ion-input>
          </ion-item>
        <ion-item>
            <ion-label>
              <p>REMARKS:</p>
            </ion-label>
            <ion-input formControlName="panel_receipted" type="text"></ion-input>
          </ion-item> 
    
          <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-button expand="full" fill="solid" type="submit">SAVE</ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button expand="full" fill="solid" (click)="sendSMS()">SEND SMS</ion-button>
                </ion-col>
            </ion-row>
          </ion-grid>
        </form>

  
</ion-content>
