<ion-header>
</ion-header>

<ion-content padding>
  <img src="assets/imgs/uniserve_logo.png" id="imgPlacement" style="align-items: center" />
  <h2 style="text-align: center;">SIGN-IN</h2>
  <ion-item>
    <ion-label>
      <p>USERID:</p>
    </ion-label>
    <ion-input type="text" [(ngModel)]="userid"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <p>PASSWORD:</p>
    </ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <button ion-button full (click)="signIn()"> {{ signing? 'Signing...' : 'Signin'}}</button>
  <p style="position:absolute;bottom:0px;left:42%;">v1.17.6</p>
</ion-content>