<ion-header>
  <ion-toolbar>
    <ion-title>Retrieval Form</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="formPanel" (ngSubmit)='search(formPanel.value)'>
        <ion-item>
            <ion-label>
              <p>Period:</p>
            </ion-label>
            <ion-input formControlName="period" type="text"></ion-input>
        </ion-item>
        <ion-grid>
            <ion-row>
              <ion-col size="4">
                  <ion-item>
                      <ion-label>
                        <p>Week:</p>
                      </ion-label>
                      <ion-input formControlName="week" type="text"></ion-input>
                    </ion-item>
              </ion-col>
              <ion-col size="8" >
                  <ion-item>
                      <ion-label>
                        <p>Week Code:</p>
                      </ion-label>
                      <ion-input formControlName="week_code" type="text"></ion-input>
                    </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-item>
              <ion-label>
                <p>Date Retrieved:</p>
              </ion-label>
              <ion-input formControlName="date_retrieved" type="text"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>
                <p>Date Received:</p>
              </ion-label>
              <ion-input formControlName="date_received" type="text"></ion-input>
          </ion-item>
        <ion-grid>
            <ion-row>
              <ion-col size="8">
                  <ion-item>
                      <ion-label>
                        <p>Panel Code:</p>
                      </ion-label>
                      <ion-input formControlName="panel_code" type="text"></ion-input>
                    </ion-item>
              </ion-col>
              <ion-col size="4" >
                  <ion-button expand="full" fill="solid" (click)="scan()">SCAN</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        <ion-item>
            <ion-label>
              <p>Accuracy:</p>
            </ion-label>
            <ion-input disabled="true" formControlName="accuracy" type="text"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-row>
              <ion-col size="6">
                  <ion-button expand="full" fill="solid" (click)="clear()" >CLEAR</ion-button>
              </ion-col>
              <ion-col size="6">
                  <ion-button expand="full" fill="solid" type="submit">SEARCH</ion-button>
              </ion-col>
          </ion-row>
        </ion-grid>
    </form>
    <ion-list>
      <ng-container  *ngFor="let request of requests; let i = index">
        <!-- <ion-item (click)="editRequest(request.Id)"> -->
        <ion-item>
          <ion-col >{{i}}</ion-col>
          <ion-col>{{request.item_desc}}</ion-col>
          <ion-col>{{request.quantity}}</ion-col>
          <ion-col>{{request.item_code}}</ion-col>
          <ion-col>{{request.pointsrequired}}</ion-col>
          <!-- add field here -->
          </ion-item>
          <ion-col (click)="removeRequest(request.Id); $event.stopPropagation()">remove</ion-col>
      </ng-container>
      
    </ion-list>

  
</ion-content>
