<ion-header>
  <ion-toolbar>
    <ion-title>tagpanel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="formPanel" (ngSubmit)='save(formPanel.value)'>
        <ion-item>
            <ion-label>
              <p>Panel Code:</p>
            </ion-label>
            <ion-input formControlName="panel_code" type="text"></ion-input>
          </ion-item>
        <ion-button expand="full" fill="solid" (click)="scan()">SCAN</ion-button>
        <ion-item>
            <ion-label>
              <p>Panel Name:</p>
            </ion-label>
            <ion-input formControlName="panel_name" type="text"></ion-input>
          </ion-item>
        <ion-item>
            <ion-label>
              <p>GPS LOCATION:</p>
            </ion-label>
            <ion-input formControlName="panel_gps_location" type="text"></ion-input>
          </ion-item>
        <ion-item>
          <ion-label>
            <p>ACCURACY:</p>
          </ion-label>
          <ion-input disabled="true" formControlName="panel_gps_location_accuracy" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>STATUS</ion-label>
            <ion-select formControlName="panel_status" ok-text="Okay" cancel-text="Dismiss">
              <ion-select-option value="" selectable=false> Select Status</ion-select-option>
              <ion-select-option *ngFor="let status of statuses" [value]="status.value">{{status.value | uppercase}}</ion-select-option>
            </ion-select>
          </ion-item>
        <ion-item>
            <ion-label>
              <p>REMARKS:</p>
            </ion-label>
            <ion-input formControlName="panel_remarks" type="text"></ion-input>
          </ion-item>
        <ion-item>
            <ion-label>
              <p>RECEIPTED:</p>
            </ion-label>
            <ion-input formControlName="panel_receipted" type="text"></ion-input>
          </ion-item> 
    
          <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-button expand="full" fill="solid" type="submit">SAVE/UPLOAD</ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button expand="full" fill="solid" (click)="sendSMS()">SEND SMS</ion-button>
                </ion-col>
            </ion-row>
          </ion-grid>
        </form>

  
</ion-content>
