<ion-header>
  <ion-navbar>
    <button button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Retrieval Form<ion-col *ngIf="irfObj?.stored == 'true' && !saving && !uploading">
        <ion-icon name="cloud-done"></ion-icon>
      </ion-col>
      <p *ngIf="saving">Saving ....</p>
      <p *ngIf="uploading">Uploading ....</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formPanel">
    <ion-item *ngIf="false">
      <ion-label>
        <p>Id:</p>
      </ion-label>
      <ion-input formControlName="Id" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>FIName:</p>
      </ion-label>
      <ion-input formControlName="fi_name" type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col col="12">
        <ion-item>
          <ion-label>
            <p>Project:</p>
          </ion-label>
          <ion-input formControlName="project" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col="12">
        <ion-item>
          <ion-label>
            <p>Period Code:</p>
          </ion-label>
          <ion-input formControlName="period_code" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label>
        <p>Panel Code:</p>
      </ion-label>
      <ion-input formControlName="panel_code" type="text"></ion-input>
    </ion-item>
    <button ion-button full (click)="scan()">SCAN</button>
    <ion-item>
      <ion-label>
        <p>Panel Name:</p>
      </ion-label>
      <ion-input formControlName="panel_name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Region:</p>
      </ion-label>
      <ion-select formControlName="region" ok-text="Okay" cancel-text="Dismiss">
        <ion-option *ngFor="let type of ['NCR','NL','SL','VIS','MIN']" [value]="type">{{ type }}</ion-option>
      </ion-select>
    </ion-item>
    <!-- add field here -->
    <!-- <ion-item *ngIf="false">
      <ion-label>
        <p>GPS LOCATION:</p>
      </ion-label>
      <ion-input formControlName="gps_location" type="text"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label>
              <p>Loc Accu:</p>
            </ion-label>
            <ion-input formControlName="accuracy" type="text"></ion-input>
          </ion-item>
        </ion-col> -->
    <!-- <ion-col col-5>
          <button
            *ngIf="!isCaptureLoc"
            ion-button
            full
            (click)="captureLoc(true)"
          >
            Capture
          </button>
          <button
            *ngIf="isCaptureLoc"
            ion-button
            full
            (click)="captureLoc(false)"
          >
            Stop
          </button>
        </ion-col> -->
    <!-- </ion-row>
    </ion-grid> -->
    <ion-item>
      <ion-label>STATUS</ion-label>
      <ion-select formControlName="panel_status" ok-text="Okay" cancel-text="Dismiss">
        <ion-option *ngFor="let status of statuses" [value]="status.value">{{status.value | uppercase}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="showZeroRemarks">
      <ion-label>
        <p>ZERO REMARKS:</p>
      </ion-label>
      <ion-input formControlName="zero_remarks" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>REMARKS:</p>
      </ion-label>
      <ion-input formControlName="panel_remarks" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Call Length (mins):</p>
      </ion-label>
      <ion-input formControlName="call_length" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>SMS sent:</p>
      </ion-label>
      <ion-input formControlName="sms" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Call attempts:</p>
      </ion-label>
      <ion-input formControlName="calls" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Date Retrieved:</p>
      </ion-label>
      <ion-input disabled=true formControlName="date_retrieved" type="text"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col="4">
          <button ion-button full type="submit" (click)="save('save')">
            SAVE
          </button>
        </ion-col>
        <ion-col *ngIf="!!irfObj?.rowId && connectedToNet" col="4">
          <button ion-button full (click)="sync('sync')">SYNC</button>
        </ion-col>
        <ion-col col="4">
          <button ion-button full navPop>Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ng-container *ngFor="let row of images; let i = index">
    <ion-row>
      <ion-item>
        <ion-label>
          <p>
            <ion-icon *ngIf="row?.stored=='true'" name="cloud-done"></ion-icon>&nbsp;Page Number: {{row.page_num}}
          </p>

        </ion-label>
      </ion-item>
      <img src="{{row.imageDisplay}}" />
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button full (click)="removePicture(i,row)">
          Remove
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full (click)="uploadImage(i,row)">
          Upload
        </button>
      </ion-col>
    </ion-row>
  </ng-container>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>
            <p>Page Number:</p>
          </ion-label>
          <ion-input [(ngModel)]="page_number" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <button [disabled]="page_number==''" ion-button full (click)="takePicture('House_Image')">
          Add Picture
        </button>
      </ion-col>
      <ion-col col-5>
        <button [disabled]="page_number==''" ion-button full (click)="openGallery('House_Image')">
          Gallery
        </button>
      </ion-col>
      <ion-col col-2>
        <ion-icon *ngIf="irfObj['House_Imagestored']=='true'" style="zoom:2.0;" name="cloud-done"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>