<ion-header>
  <ion-navbar>
    <button button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Docupics
    </ion-title>
  </ion-navbar>
</ion-header>
<!--  *ngIf="this.irfObj.project == 'EOP' -->
<ion-content padding>
  <form [formGroup]="formPanel">
    <ion-col col="12">
      <ion-item>
        <ion-label>
          <p>Period Code:</p>
        </ion-label>
        <ion-input disabled=true formControlName="period_code" type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col="12">
      <ion-item>
        <ion-label>
          <p>Panel Code:</p>
        </ion-label>
        <ion-input disabled=true formControlName="panel_code" type="text"></ion-input>
      </ion-item>
      <button ion-button full (click)="scan()">SCAN</button>
    </ion-col>
    <ion-col col="12">
      <ion-item>
        <ion-label>
          <p>Page Number:</p>
        </ion-label>
        <ion-input disabled=true formControlName="page_num" type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col="12">
      <ion-item>
        <ion-label>
          <p>FIName:</p>
        </ion-label>
        <ion-input [disabled]="!canEdit" formControlName="fi_name" type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col="12">
      <ion-item>
        <ion-label>
          <p>Date Retrieved:</p>
        </ion-label>
        <ion-datetime [disabled]="!canEdit" displayFormat="YYYY-MM-D" pickerFormat="YYYY-MM-D"
          formControlName="date_retrieved">
        </ion-datetime>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-label>Date Ordered:</ion-label>
      <ion-datetime [disabled]="!canEdit" displayFormat="YYYY-MM-D" pickerFormat="YYYY-MM-D"
        formControlName="date_ordered"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Time Ordered:</ion-label>
      <ion-datetime [disabled]="!canEdit" displayFormat="h:mm A" pickerFormat="h:mm A" formControlName="time_ordered">
      </ion-datetime>
    </ion-item>
    <ion-col col="12">
      <ion-item>
        <ion-label>
          <p>Outlet Name:</p>
        </ion-label>
        <ion-input [disabled]="!canEdit" formControlName="outlet_name" type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-label>
        <p>Outlet Type:</p>
      </ion-label>
      <ion-select [disabled]="!canEdit" formControlName="outlet_type" ok-text="Okay" cancel-text="Dismiss">
        <ion-option value="" selectable="false" selected="true">
          Select</ion-option>
        <ion-option *ngFor=" let type of ['SS','FS','BK','CS','CC','FC']" [value]="type">{{ type }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Inside Mall:</p>
      </ion-label>
      <ion-select [disabled]="!canEdit" formControlName="inside_mall" ok-text="Okay" cancel-text="Dismiss">
        <ion-option value="" selectable="false" selected="true">
          Select</ion-option>
        <ion-option *ngFor="let type of ['Yes','No']" [value]="type">{{ type }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Access Type:</p>
      </ion-label>
      <ion-select [disabled]="!canEdit" formControlName="access_type" ok-text="Okay" cancel-text="Dismiss">
        <ion-option value="" selectable="false" selected="true">
          Select</ion-option>
        <ion-option *ngFor="let type of ['Dine-in','Take-out','Drive Thru','Delivery']" [value]="type">{{ type }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>For Whom:</p>
      </ion-label>
      <ion-select [disabled]="!canEdit" formControlName="for_whom" ok-text="Okay" cancel-text="Dismiss">
        <ion-option value="" selectable="false" selected="true">
          Select</ion-option>
        <ion-option *ngFor="let type of ['For Myself','For Others ONLY']" [value]="type">{{ type }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Food Ordered:</p>
      </ion-label>
      <ion-input [disabled]="!canEdit" formControlName="food_ordered" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Meat Type:</p>
      </ion-label>
      <ion-select [disabled]="!canEdit" formControlName="meat_type" ok-text="Okay" cancel-text="Dismiss">
        <ion-option value="" selectable="false" selected="true">
          Select</ion-option>
        <ion-option *ngFor="let type of ['BEEF','PORK','CHICKEN','FISH','SEAFOOD','VEGETABLE','OTHER']" [value]="type">
          {{ type }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Cook Type:</p>
      </ion-label>
      <ion-select [disabled]="!canEdit" formControlName="cook_type" ok-text="Okay" cancel-text="Dismiss">
        <ion-option value="" selectable="false" selected="true">
          Select</ion-option>
        <ion-option *ngFor="let type of ['SAUCY','FRIED','SOUPY','GRILLED','SIZZLING','OTHER']" [value]="type">
          {{ type }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Amount Paid:</p>
      </ion-label>
      <ion-input [disabled]="!canEdit" formControlName="amount_paid" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>With Receipt:</p>
      </ion-label>
      <ion-select [disabled]="!canEdit" formControlName="with_receipt" ok-text="Okay" cancel-text="Dismiss">
        <ion-option value="" selectable="false" selected="true">
          Select</ion-option>
        <ion-option *ngFor="let type of ['Yes','No']" [value]="type">{{ type }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Group Size:</p>
      </ion-label>
      <ion-input [disabled]="!canEdit" formControlName="group_size" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Kids Below 12:</p>
      </ion-label>
      <ion-select [disabled]="!canEdit" formControlName="kids_below_12" ok-text="Okay" cancel-text="Dismiss">
        <ion-option value="" selectable="false" selected="true">
          Select</ion-option>
        <ion-option *ngFor="let type of ['Yes','No']" [value]="type">{{ type }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col col="4">
          <button ion-button full (click)="new()">
            NEW
          </button>
        </ion-col>
        <ion-col col="4">
          <button ion-button full (click)="edit()">
            EDIT
          </button>
        </ion-col>
        <ion-col col="4">
          <button ion-button full (click)="delete()">
            DELETE
          </button>
        </ion-col>
        <ion-col col="4">
          <button ion-button full (click)="save()">
            SAVE
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col="4">
          <button [disabled]="this.eops.length==0" ion-button full (click)="previous()">
            Prev
          </button>
        </ion-col>
        <ion-col col="4">
          <button [disabled]="this.eops.length==0" ion-button full (click)="next()">
            Next
          </button>
        </ion-col>
        <ion-col *ngIf="!!irfObj?.rowId && connectedToNet" col="4">
          <button ion-button full (click)="sync()">
            Sync
          </button>
        </ion-col>
        <ion-col col="4">
          <button ion-button full navPop>Exit</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-list>
    <ng-container *ngFor="let eop of eops; let i = index">
      <!-- <ion-item (click)="editRequest(request.Id)"> -->
      <ion-item (click)="selectEop(eop)">
        <ion-col *ngIf="eop?.stored == 'true'">
          <ion-icon name="cloud-done"></ion-icon>
        </ion-col>
        <ion-col *ngIf="selectedEop?.rowId == eop.rowId">
          <ion-icon name="checkmark"></ion-icon>
        </ion-col>
        <ion-col>{{i+1}}</ion-col>
        <ion-col>{{irfObj.period_code}},{{irfObj.panel_code}},{{picObj.page_num}},{{eop.rowId}}</ion-col>
        <!-- add field here -->
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>