<ion-header>
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- List of Text Items -->
  <ion-list>
    <ng-container  *ngFor="let row of tagPanels; let i = index">
      <ion-item [routerLink]="['/tagpanel']" [queryParams]="{ key: row.key}">
        <ion-col >{{i}}</ion-col>
        <ion-col>{{row.panel_code}}</ion-col>
        <ion-col>{{row.panel_name}}</ion-col>
        <ion-col>{{row.panel_week_code}}</ion-col>
        <ion-col>{{row.panel_gps_location}}</ion-col>
        <ion-col>{{row.panel_remarks}}</ion-col>
        <ion-col>{{row.panel_receipted}}</ion-col>
        <ion-col>{{row.panel_status}}</ion-col>
        <!-- add field here -->
        </ion-item>
        <ion-col (click)="removeTagPanel(row.key); $event.stopPropagation()">remove</ion-col>
    </ng-container>
    
  </ion-list>
  <ion-grid>
    <ion-row>
        <ion-col>
            <ion-button expand="full" fill="solid" (click)="addTagPanel()">
              Add Tag Panel
            </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
